* {
    padding: 0;
    margin: 0;
    border: none;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 400px;
    height: 500px;
}

#display {
    padding: none;
    height: 100%;
    width: 100%;
}

.calculator {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "display functions"
        "num-btns functions"
        "aux-btns aux-btns"
    ;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

.display-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 100px;
    grid-area: display;
    width: 100%;

}

.all-btns>* {
    padding: 0;
    margin: 0;
}


.functions {
    grid-area: functions;
    display: grid;
    gap: 10px;
    place-items: center;
    grid-template-rows: repeat(4, 1fr);

}

.func-btn {
    display: grid;
    border: solid 1px red;
    place-items: center;
    height: 100%;
    width: 100%;

}


.num-btns {
    padding: 0;
    margin: 0;
    grid-area: num-btns;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.num-btn {
    display: grid;
    place-items: center;
    border: solid 2px rebeccapurple;
}

#0 {
    border: solid 2px rebeccapurple;
}

.aux-btns {
    grid-area: aux-btns;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);

    place-items: center;
}

.aux-btn {
    height: 100%;
    width: 100%;
    display: grid;
    border: solid 2px rebeccapurple;
    place-items: center;

}